:root {
    /* Color Variables */
    --color-primary: #11233D;
    --color-secondary: #353F4D;
    --color-accent: #FFFC934;
    --color-background: #fff;
    --color-text: #fff;
    --color-text-secondary: #353F4D;
    --color-link-active: #49277D;
    --color-outline: #11233D;

/* Font Sizes */
--font-size-small: 0.65em;   /* around 14px */
--font-size-medium: 0.93em;  /* around 19px */
--font-size-large: 1.16em;   /* around 24px */
--font-size-xlarge: 1.56em;  /* around 32px */
--font-size-xxlarge: 2.6em;  /* around 52px */

/* Spacing */
--spacing-small: 2vh;
--spacing-medium: 4vw;
--spacing-large: 12vw;

/* Border Radius */
--border-radius: 25px;



}


.lazy {
    opacity: 0;
    transition: opacity 0.3s;
}

.lazy.loaded {
    opacity: 1;
}

/* Base Styles */
html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.language-switcher {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ffffff00;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

.language-switcher a {
    text-decoration: none; 
}

.selectedLanguage {
    text-decoration: underline;
}

/* Link Styles */
a {
    outline-color: transparent;
}

a:link, a:visited {
    color: var(--color-primary);
}

a:focus, a:hover {
    text-decoration: none;
    background: var(--color-accent);

}

a:active {
    background: var(--color-link-active);
    color: var(--color-accent);
}

.header h1 {
    font-family: 'Alegreya', cursive;
    margin: 0;
    font-size: var(--font-size-xlarge);
    opacity: 0.5;
    letter-spacing: 0.2rem;
}

.header h2 {
    font-family: 'Alegreya', cursive;
    margin: 0;
    font-size: var(--font-size-xxlarge);
    letter-spacing: 0.2rem;
    line-height: 110%;
}
/* Universal h3 Styles */
h3 {
    font-family: 'Alegreya', cursive;
    font-size: var(--font-size-xxlarge);
    text-align: center;
    min-width: 90vw;
    color: var(--color-primary);
    margin: var(--spacing-small);


}

/* Header Styles */
.header {
    max-width: 100vw;
    background-color: var(--color-background);
    text-align: center;
    padding: var(--spacing-small) var(--spacing-medium);
    min-height: 72vh;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/BackgroundSpezl.png');
    background-repeat: repeat-x;
    background-size: 50vw;
}

.content-logo {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;

}

.header-content {
    margin-left: var(--spacing-medium);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    min-width: 79vw;
    margin-top: var(--spacing-medium);
}

.header-text {
    flex: 1;
    text-align: center;
}



.cta {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-small);
    color: var(--color-secondary);
    width: 100%;
}

.cta-container {
    text-align: left;
    min-width: 200px;
    padding-right: var(--spacing-medium);
}

.cta-button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: 20px 40px;
    font-size: var(--font-size-large);
    cursor: pointer;
    border-radius: var(--border-radius);
    letter-spacing: 0.2rem;
}

.register {
    background-color: #FBB901;
    color: var(--color-primary);
}
.spezlDiscord{
    background-color: #FBB901;
    background-image: url('img/buttonSpezl.png');
    background-size:100% 100%;
    color: var(--color-primary);

}


.header-logo {
    text-align: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.header-logo img {
    max-height: 40vh;
    min-height: 10vh;
    min-width: 250px;
}
.soldOut{
    color: var(--color-link-active);
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    text-transform: uppercase;
}


.partner-artist {
    min-height: 17vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
    color: var(--color-text);
    background-color: var(--color-background);
}

.partner-artist h2{
    font-family: 'Alegreya', cursive;
    margin: 0;
    color: var(--color-primary);
    font-size: var(--font-size-xlarge);
    letter-spacing: 0.2rem;
    text-align: center;
    opacity: 0.5;
    width: 100%;
}

.partners{
  width: 100%;
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners img {
    height: 80px;

}

.partners a:hover {
    background: none;
}

.seperator1{
    background-image: url(img/backRepeatPartner.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    min-height: 5vh;
}
/* Main Content Styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 35vh;
    padding-top: var(--font-size-small);
    background-color:#FBB901;

    align-items: center;
}

.seperator2{
    background-image: url(img/backRepeat.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    min-height: 10vh;
}

.discordIMG {
    max-height: 50px;
    transform: translate(0,20px);
}

.text-section {
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-primary);
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    text-align: left;

    
}

.text-section p {
    flex: 1;
    font-size: var(--font-size-large);
    padding: 0 var(--spacing-small) 0 var(--spacing-small);
    max-width: 80vw;
    min-width: 20vw;
    line-height: 2.5rem;
    outline: var(--color-outline) 1px;

}


/* Prize Pool */
.prizePool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 25vh;
    padding-top: var(--font-size-small);
    align-items: center;
}
.prizePool h3{
    color: var(--color-primary);
}
#prizePool {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--color-primary);
}


.hSeperator{
    min-width: 100%;
    flex: 1 1 100%;
    padding-top: var(--spacing-medium);
    text-align: center;
}

.prizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.prize-item {
    flex: 1 1 calc(30% - 20px);
    box-sizing: border-box;
    max-width: calc(30% - 20px);
    text-align: center;
    
}

.prize-item img {
    width: 90%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

.prize-item p {
    color: var(--color-primary);
    margin-top: 10px;
    font-size: var(--font-size-medium);
    text-align: center;
}

.cardPrizes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img{
    max-width: 450px;
    width: 100%;
}

.more-to-announce {
    font-size: 1.5em;
    margin-top: 20px;
    min-width: 100%;
    text-align: center;
    padding-top: var(--spacing-medium);
}

.seperator3{
    background-image: url(img/backRepeat2.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    min-height: 10vh;
}
/*Rules section*/
.rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 25vh;
    padding-top: var(--font-size-small);

    background-color:#11233D;

    background-repeat:no-repeat;
    background-position: bottom;
    align-items:flex-start;
    color: var(--color-text);
}

.rules h2{
    width: 100%;
    text-align:left;
    color: var(--color-text);
    
}

.rules h3{
    color: var(--color-text);
    
}
.rules ul{
    color: var(--color-text);
    line-height: 3vh;
    justify-self: flex-start;
    width: 100%;
    margin-bottom: var(--spacing-medium);
}
.rules p{
    color: var(--color-text);
    line-height: 3vh;
}

.rules a {
    color: #FBB901;
}






/*info*/
.info {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.info-section {
    flex: 1;
    margin: 0 var(--spacing-large);
    padding: var(--spacing-small) 0;
    font-size: var(--font-size-large);
    min-width: 300px;
}

.info-section h3{
 min-width: 30vw;
}

.image-section {
    flex: 1;
    text-align: left;

}

.image-section img {
    min-width: 100%;
    min-height: 100%;
}

.previous-events {
    background-color: #fff;
    text-align: center;
    padding: var(--spacing-medium) 0;


}
.info-section-pe {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-small) 0;
  
}
.info-section-pe p{
    margin: 0 var(--spacing-large);
    font-size: var(--font-size-large);
    max-width: 50vw;
}
.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90vw; /* Adjust max-width as necessary */
    margin: auto; /* Center the container */
}

.event-cards img {
    flex: 1 1 calc(25% - 20px); /* Each image takes up roughly a quarter of the container width, with some spacing */
    max-width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    height: auto; /* Ensure the height adjusts automatically */
}

.carouselle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90vw; /* Adjust max-width as necessary */
    margin: auto; /* Center the container */
}

.carouselle img {
    flex: 1 1 calc(33.33% - 10px); /* Each image takes up roughly a third of the container width, with some spacing */
    max-width: calc(33.33% - 10px);
    min-width: 250px;
    margin: 5px;
    padding: 0.25vw;
    box-sizing: border-box;
}


/* Spezl */

.spezl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Aligns child items to stretch vertically */
    gap: 16px; /* Adds spacing between elements */
}
.spezl h3{
    min-width: auto;
    align-self: center;
}

.spezl-text {
    flex: 2;
    max-width: 66.66%; /* Maintains the 2/3 width */
    align-self: center;
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
}

.spezl-text p{
    max-width: 70%;
}


.spezl-img {
    flex: 1;
    max-width: 33.33%; /* Maintains the 1/3 width */
    display: flex;
    align-items: center;
    justify-content: center;
}

.spezl-img img {
    max-width: 100%; /* Ensures the image doesn't overflow horizontally */
    height: auto; /* Maintains aspect ratio */
}



.footer{
    text-align: center;
    background-color: #11233D;
    padding: 1vh;
}

.footer p {
    margin: 0;
    padding: 0;
    color: var(--color-text);

}


/* Media Queries */
@media (max-width: 480px) {
    .brIphone {
        display: block;
    }

    .language-switcher {
        position: static;
        background-color: rgba(240, 248, 255, 0);
        text-align: center;
        margin: 10px 0;
    }
    
    .header {
        
        background-repeat: no-repeat;
    }

    .header h1 {
        font-size: var(--font-size-medium);
        text-align: center;
    }

    .partner-artist h2{
        font-size: var(--font-size-medium);
        text-align: center;
    }

    .header h2 {

        text-align: center;
    }


    .header{
        font-size: var(--font-size-small);
        background-size: 100vw;
        margin-bottom: var(--spacing-large);
    }

    .header-logo img {
        max-height: 40vh;
        min-width: 150px;
        margin-bottom: 5vh;
    }

    .content-logo {
        margin-top: 30px;
    }

    .text-section{
        flex-direction: column;
        padding-bottom:  var(--spacing-large);
        max-width: 100%;
    }

    .text-section p {
        padding: 0 var(--spacing-large) ;
        font-size: var(--font-size-medium);
        text-align: left;
        line-height: 1.5rem;
    }

   .main-content h3{
    font-size: var(--font-size-xlarge);
   }

    .cta-container {
        width: 100%;
        text-align: center;
        padding-bottom: var(--spacing-small);
    }

    .cta-button, .register {
        width: calc(100% - 20px); /* Breite auf 100% minus etwas Padding setzen */
        padding: 15px; /* Padding f端r besseren Abstand */
        margin: 10px 0; /* Abstand oben und unten */
        box-sizing: border-box; /* Box-Sizing f端r korrektes Padding */
        text-align: center; /* Text zentrieren */
        white-space: nowrap; /* Text in einer Zeile halten */
    }
    .register {
        width: calc(100% - 20px); /* Breite auf 100% minus etwas Padding setzen */
        padding: 15px; /* Padding f端r besseren Abstand */
        margin: 10px 0; /* Abstand oben und unten */
        box-sizing: border-box; /* Box-Sizing f端r korrektes Padding */
        text-align: center; /* Text zentrieren */
    }

    .discordIMG {
        max-height: 20px;
        transform: translate(0,5px);
    }

    .partners {
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-right: 0;
    }


    .partners img {
        width: 50vw;
        height: auto;
        margin-right: 0;
        margin-bottom: 5vh;
    }

    .info-section {
        font-size: var(--font-size-medium);
        
    }

    .image-section {
        flex: 1 1 100%;
        text-align: center;
    }
    .image-section img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .info-section-pe p{

        max-width: 80vw;
    }
    .event-cards {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the cards */
        
    }

    .carouselle img {
        flex: 1 1 100%; /* Each image takes up the full width on smaller screens */
        max-width: 100%;
        min-width: 100%;
    }

    .event-cards img {
        flex: 1 ;
        max-width: 100%;
        max-height: 320px;
        margin: 10px;
        height: auto;

    }



    .prizePool{
        background-size: 100vw 5%;
    }
    .prizePool h3{
        font-size: var(--font-size-xlarge);
    }
    .prizes {
        flex-direction: column;
        align-items: center;

    }

   

    .prize-item {
        flex: 1 1 100%;
        max-width: 90%;
        max-height: 100%;
    }
    .prize-item p{
        text-align: center;
        font-size: var(--font-size-medium);
    }

    .more-to-announce{
        font-size: var(--font-size-medium);
    }

    .rules{
        width: 100%; /* Breite auf 100% minus etwas Padding setzen */
    }

    .rules h2{
        text-align: center;
    }
    .rules ul {
        max-width: 80%;
    }
    .rules li {
        padding-bottom: 1vh;
        line-height: 1.4rem;
    }


    .spezl {
        flex-direction: column; /* Stacks image above text */
        align-items: center; /* Centers content for smaller screens */
    }

    .spezl-img, .spezl-text {
        max-width: 100%; /* Both elements take full width */
    }

    .spezl-img img {
        width: 100%; /* Ensures the image spans full width */
        max-height: auto; /* Allows height to adjust naturally */
    }
}

/* Media query for screens larger than 1902px */
@media (min-width: 1902px) {
    .prize-item {
        flex: 1 1 calc(30% - 20px);
        max-width: calc(40% - 20px);
    }
}